__pycache__/
*.py[cod]
*$py.class

venv/
env/

pyinstaller/
dist/
build/

*.sublime-project
*.sublime-workspace
*.vscode/
.idea/

.DS_Store
Thumbs.db

*.spec

*.exe
*.dll
*.pyd

*.log
*.tmp
*.bak

*.sav
